### Datetime

In [2]:
from datetime import datetime, timedelta, date
from dateutil import tz,parser
import pandas as pd
from pytz import timezone
import pytz

from_zone = tz.gettz('UTC')
to_zone = tz.gettz('America/Sao_Paulo')

In [5]:
# dia da semana
print(datetime.today().weekday())
week= ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
week[datetime.today().weekday()]

2

'Wednesday'

In [ ]:
# datetime em Sao Paulo
nowbegin = datetime.now().replace(tzinfo=from_zone).astimezone(to_zone)
nowbegin

datetime.datetime(2023, 2, 7, 7, 55, 17, 818888, tzinfo=tzfile('/usr/share/zoneinfo/America/Sao_Paulo'))

In [ ]:
# Anomes
mes = str("0"+str(nowbegin.month)) if nowbegin.month < 10 else str(nowbegin.month)

int(str(nowbegin.year)+mes)

202302

In [ ]:
print("Ano Atual",nowbegin.year)
print("Ano Anterior",(nowbegin - pd.DateOffset(years=1)).year)
print("Ano Posterior",(nowbegin + pd.DateOffset(years=1)).year)
print("Data formatada", nowbegin.strftime("%Y-%m-%d"))

Ano Atual 2023
Ano Anterior 2022
Ano Posterior 2024
Data formatada 2023-02-07

In [3]:
datetime.now(tz=pytz.utc)

datetime.datetime(2023, 2, 15, 12, 27, 20, 950836, tzinfo=<UTC>)

In [3]:
today = date.today()
today

datetime.date(2023, 2, 15)

In [4]:
tomorrow = date(today.year,today.month,today.day+1)
tomorrow

datetime.date(2023, 2, 16)

In [6]:
date.today() + timedelta(days=365)

datetime.date(2024, 2, 15)

In [10]:
datein = '2023-02-29'
try:
    parser.parse(str(datein))
except:
    print('day is out of range for month')

day is out of range for month

In [11]:
def isLeapYear(year):
  datetime = parser.parse(str(year))
  lyear = datetime.year
  if (lyear % 4 == 0 and lyear % 100 != 0) or (lyear % 400 == 0):
    return True
  else:
    return False

isLeapYear(2023)

False